<div class="container-fluid" >

  <div class="row bg-info pt-1">
    <div class="col-12" style="text-align: center;">
      <h2 style="color: chocolate;">EMPLOYEE INFORMATION</h2>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-4">
        <app-search-employee></app-search-employee>
      </div>
      <div class="col-6"></div>
      <div class="col-2">
        <app-store-employees></app-store-employees>
      </div>
    </div>
  </div>
  <app-fetch-employees></app-fetch-employees>




  <!-- <app-search-employee></app-search-employee>
  <app-store-employees></app-store-employees>
 
   -->

</div>